.btn-Row {
	margin-left: 20px;
}

.flexobx {
	display: flex;
	//flew-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin-top: 15px;
}

.img-div {
	margin-left: 20px;
}

.img-div .btn {
	font-size: 12px;
}
